*.swp
*.swo
*.dSYM/
deps
tags
hello-world
natives_blob.bin
snapshot_blob.bin
hello-world.dSYM
tests/local_test
tests/maybe_test
tests/persistent-object_test
tests/smi_test
instances
run-script
exceptions
tests/string_test
ns
tests/jsobject_test
tests/ast_test
