*.swp
*.swo
*.dSYM/
deps
tags
hello-world
natives_blob.bin
snapshot_blob.bin
hello-world.dSYM
test/local_test
test/maybe_test
test/persistent-object_test
test/smi_test
instances
run-script
exceptions
test/string_test
ns
test/jsobject_test
test/ast_test
test/context_test
contexts
test/heap_test
test/map_test
